@model IEnumerable<WebApplication1.Models.Personnel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="personnels">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.POB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        
    </tbody>

</table>

@section Scripts {
    <script>
        jQuery(document).ready(function (e) {
            $('#personnels').DataTable({
                ajax: {
                    url: '/api/ajax/personnels',
                    dataSrc: '',
                },
                columns: [
                    {
                        data: "Name",
                        render: function (data, type, personnel) {
                            return personnel.Name;
                        }
                    },
                    {
                        data: "Gender",
                        render: function (data) {
                            return data.Name;
                        }
                    },
                    {
                        data: "DOB",
                        render: function (data, type, personnel) {
                            return personnel.DOB;
                        }
                    },
                    {
                        data: "POB",
                        render: function (data) {
                            return data;
                        }
                    },
                    {
                        data: "PhoneNumber",
                        render: function (data) {
                            return data;
                        }
                    },
                    {
                        data: "Id",
                        render: function (data) {
                            return `<a href='/personnels/edit/` + data + `'>Edit</a> |
                                    <a href='/personnels/delete/`+ data +`'>Delete</a>`;
                        }
                    }
                ]
            });
        });
    </script>
}