@model IEnumerable<WebApplication1.Models.Personnel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="personnels">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DOB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.POB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        
    </tbody>

</table>

@section Scripts {
    <script>
        jQuery(document).ready(function (e) {
            $('#personnels').DataTable({
                ajax: {
                    url: '/AjaxPersonnels/Listing',
                    dataSrc: '',
                },
                columns: [
                    {
                        data: "Name",
                        render: function (data, type, personnel) {
                            return personnel.Name;
                        }
                    },
                    {
                        data: "Gender",
                        render: function (data) {
                            return data.Name;
                        }
                    },
                    {
                        data: "DOB",
                        render: function (data, type, personnel) {
                            return personnel.DOB;
                        }
                    },
                    {
                        data: "POB",
                        render: function (data) {
                            return data;
                        }
                    },
                    {
                        data: "PhoneNumber",
                        render: function (data) {
                            return data;
                        }
                    },
                    {
                        data: "Id",
                        render: function (data) {
                            return `<a href='/AjaxPersonnels/edit/` + data + `'>Edit</a> |
                                    <a href='javascript:;' class="__ajaxDelete" data-personnel_id="`+ data +`">Delete</a>`;
                        }
                    }
                ]
            });

            // Delete personnel
            $("#personnels").on('click', ".__ajaxDelete", function (evt) {
                //debugger
                evt.preventDefault();

                var $this = $(this);

                $.confirm({
                    theme: 'supervan',
                    title: "<i class='glyphicon glyphicon-bullhorn'></i> System warning &mdash;",
                    content: "Do you really want to Remove this record ?",
                    buttons: {
                        yes: {
                            action: function () {

                                var token = $('form.__ajax input[name="__RequestVerificationToken"]').val();

                                var _personnel = {};
                                _personnel.Id = $this.data("personnel_id");

                                $.ajax({
                                    url: '/AjaxPersonnels/Delete/' + _personnel.Id,
                                    type: "POST",
                                    data: JSON.stringify(_personnel),
                                    dataType: "json",
                                    contentType: "application/json;charset=utf-8",
                                    cache: false,
                                    processData: false,
                                    success: function (data) {
                                        if (data.msg != '') {
                                            $.confirm({
                                                theme: 'supervan',
                                                title: false,
                                                content: data.msg,
                                                buttons: {
                                                    ok: {
                                                        action: function () {
                                                            window.location.reload();
                                                        }
                                                    }
                                                }
                                            });
                                        }
                                    },
                                    error: function (responseData, textStatus, errorThrown) {
                                        console.log(textStatus);
                                    }
                                });
                            }
                        },
                        no: {}
                    }
                }); 
                
            });
        });
    </script>
}